.hero {

    width: 100%;

    border-bottom: 1px solid #E7E3DA;

}

.hero-container {

    display: flex;

    justify-content: space-between;

    align-items: flex-end;

    padding: 34px 22px 34px;

}

.hero-left {

    width: 610px;

}

.hero-subtitle {

    font-family: "DM Mono", monospace;

    font-size: 11px;

    font-weight: 500;

    letter-spacing: 4px;

    color: #2A7759;

    margin-bottom: 18px;

    text-align: left;

}

.hero-title {

    font-family: "Playfair Display", serif;

    font-size: 62px;

    font-weight: 600;

    line-height: .92;

    color: #1D2822;

    margin-bottom: 22px;

    text-align: left;

}

.hero-title span {

    display: block;

    color: #2A7759;

    font-style: italic;

    font-weight: 500;

}

.hero-description {

    width: 365px;

    font-family: "Manrope", sans-serif;

    font-size: 14px;

    line-height: 1.8;

    color: #68716D;

    text-align: left;

}

.hero-right {

    width: 155px;

    display: flex;

    flex-direction: column;

    align-items: flex-start;

    justify-content: flex-end;

    margin-bottom: 12px;

}

.hero-line {

    width: 145px;

    height: 2px;

    background: #27322C;

    margin-bottom: 16px;

}

.hero-today {

    font-family: "Manrope", sans-serif;

    font-size: 14px;

    color: #68716D;

    margin-bottom: 6px;

}

.hero-date {

    font-family: "Manrope", sans-serif;

    font-size: 20px;

    font-weight: 700;

    color: #1D2822;

}