/* ========================= */
/* HEADER */
/* ========================= */

.header{
    width:100%;
    border-bottom:1px solid #e8e8e8;
    background:#ffffff;
}

.header-container{

    max-width:1280px;

    height:90px;

    margin:0 auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 20px;

}

.header-left{

    display:flex;
    align-items:center;
    gap:14px;

}

.header-logo{

    width:36px;
    height:36px;

    border-radius:50%;

    background:#0F6B55;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;

    font-weight:700;

    font-size:18px;

}

.header-title{

    font-size:18px;
    font-weight:700;

    color:#1D1D1D;

}

.header-title span{

    color:#0F6B55;

}

.header-right{

    display:flex;
    align-items:center;

    gap:10px;

}

.header-status{

    width:9px;
    height:9px;

    border-radius:50%;

    background:#66BE6F;

}

.header-text{

    font-size:15px;

    color:#5A6473;

}